body {
    background: #0b1120;
    color: white;
    font-family: Arial;
    padding: 30px;
}

input {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background: #7c3aed;
    border: none;
    color: white;
    cursor: pointer;
}
